.accordion-container {
    width: 80%;
    margin: 0 auto;
}

.accordion {
    width: 100%;
    margin-bottom: 15px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.accordion-title {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(216, 214, 214);
    border-radius: 20px 20px 0 0;
    padding: 10px;
    cursor: pointer;
}

.accordion-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-radius: 0 0 20px 20px;
    background-color: #ffffff;
}

.accordion-column {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    .accordion-content {
        flex-wrap: nowrap;
    }

    .accordion-title {
        flex-wrap: nowrap;
    }

    .accordion-column {
        width: 45%;
    }
}
